#container {
  padding: 20px;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

i {
  border: 1px solid #7fffd4;
  padding: 10px;
}

ion-popover {
  --background: #7fffd4;
  ion-content {
    --padding: 20px !important;
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-start: 20px;
    --padding-end: 20px;
    --background: #7fffd4;
  }
}